@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">Frame
	<h2 class="display-4">Bem-vindo à</h2><br />
	<h1 class="display-4">Base de Conhecimento de Códificação</h1>
	<br />
<div class="aligns-items-center d-grid gap-3">
	<div class="p-2 bg-light border">
			<a class="w-75 p-3 h-50 d-inline-block" asp-controller=BaseNav asp-action=NewFrame>Cadastro de Novas Questões</a>
	</div>
	<div class="p-2 bg-light border">
		<a class="w-75 p-3 h-50 d-inline-block" asp-controller=BaseNav asp-action=QuerySolutionChooseFrame>Consulta de Soluções</a>
	</div>
</div>
</div>
