html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#mainButtom {
    height: 200px;
    width: 75%;
    color: #3A87AD;
    font-size: 36px;
    margin: auto;
}
