html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#mainButtom {
<<<<<<< HEAD
    height: 200px;
    width: 75%;
    color: #3A87AD;
    font-size: 36px;
=======
    color: #3A87AD;
>>>>>>> 86701c0cbe9b1bf2bacf4ed84cf100a732f97c12
    margin: auto;
}
